.bouton-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  height: 150px;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.1), -2px -2px 5px rgb(0, 0, 0, 0.1);
}
.light-icon {
  color: rgb(255, 234, 2);
  font-size: 100px;
}
.command-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-icon {
  font-size: 50px;
}
.button-icon-red {
  color: rgba(255, 0, 0, 0.897);
}
.button-icon-green {
  color: rgba(5, 255, 93, 0.897);
}
